.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 12px;
}

.nav{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 500px;
  
}

.landingpage {
  display: flex;
  /* align-items: center; */
  background-color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: space-between;
}

.lhssection{
  width: 960px;
  background-color: aliceblue;
  padding: 20px;
}

.rhssection {
  
  background-color: aliceblue;
  padding: 20px;
}

.Gsection{
  display: flex;
  margin: 24px;
}

.Goalhero{
  display: flex;
}
.Herotext{
 font-weight: 400;
 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.herotext{
  padding-left: 24px;
  padding-top: 40px;
  padding-right: 24px;

}
.profileimage{
width: 300px;
}

.details {
  display: flex;
}

.detail{
  display: flex;
}

.text{
  font-size: larger;
  font-weight: 400px;
  margin-bottom: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textbox{
  display: flex;
  /* width: 500px; */
  
}

@media screen and (max-width: 600px) {
  .landingpage {
    flex-direction: column;
    padding: 4px;
  }
  .rhssection{
    flex-direction: column; 
    width: 100%;
    display: flex;
    padding: 0px;
  }
  .lhssection {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .navbar{
    /* width:100%; */
    display: none;
  }
  .details{
   background-color: aliceblue; 
  }
  
  .detail{
  display: flex;
  flex-direction: column;
  }
  .heroText {
    order: 2;
  }
  .profileimage {
  /* width:300px; */
  }
  .profileimage img {
    width:300px;
    /* padding-left: 0;
    border-radius: 0;
    margin-left: 0;
    gap: 0;
    object-position: initial; */
  }
}
